<% include ./partials/header %>

  <div class="container">
    <div>
      <h2><%= article.title %></h2>
      <h5><%= article.author %></h5>
        <div>
          <p><%= article.body %></p>
        </div>
        <a type="button" class="btn btn-light" href="/edit/<%= article.id %>">Edit</a>
        <a type="button" class="btn btn-danger delete-article" data-id="<%= article._id %>" href="#">Delete</a>
    </div>    
  </div>

<% include ./partials/footer %>